{% extends 'navbar.html' %}
{% load static %}

{% block titulo %}Ver perfil{% endblock %}

{% block contenido %}
<style>
    body.dark .card{
        background: linear-gradient(110deg, #717f8f93, #6e6e6ee8);
    }
    body.dark h1,
    body.dark label,
    body.dark span{
        color: white;
    }
</style>
<link rel="stylesheet" href="{% static 'css/ver_perfil.css' %}?v={% now 'U' %}">
<div class="card">
    <h2 class="info"><i class="fas fa-user"></i>Información</h2><br>
    <div class="card-body">
        <div class="labels-data-container">
            <div class="labels">
                <label for="username" title="Nombre de usuario">Nombre de usuario: </label>
                <label for="role" title="Rol">Rol: </label>
                <label for="email" title="Correo">Correo:</label>
                <label for="area" title="Área">Área:</label>
                <label for="cargo" title="Cargo">Cargo:</label>
            </div>
            <div class="data">
                <span title="{{ user.username }}">{{ user.username }}</span>
                <span title="{{ user.role }}">{{ user.role }}</span>
                <span title="{{ user.email }}">{{ user.email }}</span>
                <span title="{{ user.area }}">{{ user.area }}</span>
                <span title="{{ user.cargo }}">{{ user.cargo }}</span>
            </div>
        </div>
        {% if user.is_authenticated %}
        {% if request.user.role == 'Administrador' %}
        <div class="botones">
            
            <a href="{% url 'papeleria:index_pap' %}"><button class="atras" title="Atrás">Atrás</button></a>
        </div>
        {% endif %}
        {% if request.user.role == 'Empleado' %}
        <div class="botones">
            
            <a href="{% url 'papeleria:index_pap' %}"><button class="atras" title="Atrás">Atrás</button></a>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}