{% extends 'navbar.html' %}
{% load static %}
{% block titulo %}Estadisticas Gestor CCD {% endblock %}
{% block contenido %}
<style>
       body.dark .card{
        background: linear-gradient(110deg, #717f8f93, #6e6e6ee8);
    }
    body.dark .icono{
        color: white;
    }
    body.dark .modal-content,
    body.ddark #modal-card{
        background-color: black;
    }
    body.dark .modal-card {
  background-color: #2b2b2b; 
  color: #ffffff;            
  border: 1px solid #444;  
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
}
</style>
<link rel="stylesheet" href="{% static 'css/index_estadistica.css' %}?v={% now 'U' %}">
<section>
    <a href="{% url 'cde:grafica_pedidos_cde' %}" id="pedidosAreasBtn">
        <div class="card">
            <i data-feather="briefcase" class="icono"></i>
            <p class="name">Pedidos</p>
        </div>
    </a>
    <a href="{% url 'cde:grafica_estado_pedido_cde' %}" id="pedidosAreasBtn">
        <div class="card">
            <i data-feather="briefcase" class="icono"></i>
            <p class="name">Estado Pedidos</p>
        </div>
    </a>
</section>
{% endblock %}