{% extends 'navbar.html' %}
{% load static %}

{% block titulo %}Estadísticas Gestor CCD{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/index_estadistica.css' %}?v={% now 'U' %}">
<style>
    body.dark .card{
        background: linear-gradient(110deg, #717f8f93, #6e6e6ee8);
    }
    body.dark .icono{
        color: white;
    }
    body.dark .modal-content,
    body.ddark #modal-card{
        background-color: black;
    }
    body.dark .modal-card {
  background-color: #2b2b2b;
  color: #ffffff;            
  border: 1px solid #444;    
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
}

</style>
<section>
    <a href="{% url 'papeleria:graficas_usuarios' %}">
        <div class="card" title="Ver gráfica de usuarios activos e inactivos">
            <i data-feather="user" class="icono"></i>
            <p class="name">Activos e Inactivos</p>
        </div>
    </a>

    <a href="{% url 'papeleria:graficas_articulos' %}">
        <div class="card" title="Ver cantidad de articulos de papeleria">
            <i data-feather="layers" class="icono"></i>
            <p class="name">Cantidad de Artículos</p>
        </div>
    </a>

    <a href="{% url 'papeleria:grafica_bajoStock' %}">
        <div class="card" title="Ver articulos con bajo stock">
            <i data-feather="alert-triangle" class="icono"></i>
            <p class="name">Bajo Stock</p>
        </div>
    </a>

    <a href="{% url 'papeleria:grafica_pedidos' %}">
        <div class="card" title="Ver estado de pedidos de papeleria">
            <i data-feather="file-text" class="icono"></i>
            <p class="name">Estado de Pedidos</p>
        </div>
    </a>

    <a href="#" id="pedidosAreasBtn">
        <div class="card" title="Ver pedidos por áreas">
            <i data-feather="briefcase" class="icono"></i>
            <p class="name">Pedidos por Áreas</p>
        </div>
    </a>
</section>


<div id="modalPedidos" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Pedidos por Áreas</h2>
        <div class="modal-grid">
            <a href="{% url 'papeleria:pedidos_administrativa' %}">
                <div class="modal-card" title="Pedidos realizados por administrativa">
                    <p class="modal-name"><i data-feather="clipboard" class="modal-icono"></i> Pedidos Administrativa</p>
                </div>
            </a>
            <a href="{% url 'papeleria:pedidos_rues' %}">
                <div class="modal-card" id="modal-card" title="Pedidos realizados por RUES">
                    <p class="modal-name"><i data-feather="book" class="modal-icono"></i> Pedidos RUES</p>
                </div>
            </a>
            <a href="{% url 'papeleria:pedidos_presidencia' %}">
                <div class="modal-card" title="Pedidos realizados por presidencia">
                    <p class="modal-name"><i data-feather="flag" class="modal-icono"></i> Pedidos Presidencia</p>
                </div>
            </a>
            <a href="{% url 'papeleria:pedidos_financiera' %}">
                <div class="modal-card" title="Pedidos realizados por financiera">
                    <p class="modal-name"><i data-feather="dollar-sign" class="modal-icono"></i> Pedidos Financiera</p>
                </div>
            </a>
            <a href="{% url 'papeleria:pedidos_gestion_empresarial' %}">
                <div class="modal-card" title="Pedidos realizados por gestión empresarial">
                    <p class="modal-name"><i data-feather="users" class="modal-icono"></i> Pedidos Gestión Empresarial</p>
                </div>
            </a>
            <a href="{% url 'papeleria:pedidos_competitividad' %}">
                <div class="modal-card" title="Pedidos realizados por Competitividad">
                    <p class="modal-name"><i data-feather="trending-up" class="modal-icono"></i> Pedidos Competitividad</p>
                </div>
            </a>
        </div>
    </div>
</div>

<script>
    
    const modal = document.getElementById("modalPedidos");
    const btn = document.getElementById("pedidosAreasBtn");
    const span = document.getElementsByClassName("close")[0];

    
    btn.onclick = function(event) {
        event.preventDefault();
        modal.style.display = "block";
    }

    
    span.onclick = function() {
        modal.style.display = "none";
    }

   
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

{% endblock %}
